

/* checkbox */







/* 弹窗 (background) */
.modal {
    display: none; /* 默认隐藏 */
    position: fixed; /* 固定定位 */
    z-index: 9999; /* 设置在顶层 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* 弹窗内容 */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* 关闭按钮 */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

thead {
    background-color: lightgray;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.bg-lightgray{
    background-color: lightgray;
    border-radius: 25px;
}


#main_page_nav {
    height : 75px;

}

h1 {font-size:250%;}
h2 {font-size:200%;}
p {font-size:100%;}


#main_table_wrapper {
    margin: 0 auto;
}
#show_result {
    margin-top: 50px;
}

#confirm {
    margin-top: 50px;
}
#assign {
    margin-top: 50px;
}
.selected {
    background: #5cbdaa !important;

}

.row-border {

    border-width:1px;
    border-style:solid;
    border-color:black ;

}


#sidebar {
        min-width: 250px;
        max-width: 250px;
        height: 100vh;

        }
/*
.left {

        margin-top: 120px;
        margin-bottom: 100px;
        margin-left:0;
        position: absolute;
        box-sizing: border-box;
        width: 100px;
        height: 100%;
        background: transparent bottom;}
*/

.right {
        margin-left: 0;
        margin-top: 120px;
        margin-bottom: 100px;
        padding-left: 0;
        box-sizing: border-box;
        float: left;
        text-align: center;
        overflow-y: hidden;
        overflow-x: hidden;
        color: #0056b3;
        min-width: 100%;
        min-height: 500px;}
.introduction_text {
        text-align: center;
        color: #0b2e13;
}

#chart {
    min-width: 400px;
    min-height: 350px;
}

#tools {
    width: 200px;
    margin-left: 600px;
    margin-top: 120px;
}

.checkbox_word {
    font-size: small;
}

[hidden] {
  display: none !important;
}

#try {
        margin: 0 auto;
}
#chart_wrapper {
    padding-left: 60px !important;
}









