#main_page_nav {
    height : 100px
}

#sidebar {
        min-width: 250px;
        max-width: 250px;
        height: 100vh;}
.left {

        margin-top: 100px;
        margin-bottom: 100px;
        margin-left:0;
        position: absolute;
        box-sizing: border-box;
        width: 200px;
        height: 100%;
        background: #FFFFFF bottom;}

.right {
        margin-left: 200px;
        margin-top: 100px;
        margin-bottom: 100px;
        padding-left: 20px;
        box-sizing: border-box;
        float: left;
        text-align: center;
        overflow-y: hidden;
        overflow-x: hidden;
        color: #0056b3;
        min-width: 100%;
        min-height: 500px;}
.introduction_text {
        text-align: center;
        color: #0b2e13;

}
#chart {
    min-width: 800px;
    min-height: 400px;
}

#tools {
    width: 200px;
    margin-left: 600px;
    margin-top: 120px;
}

.checkbox_word {
    font-size: small;
}

[hidden] {
  display: none !important;
}

#try {
        margin: 0 auto;
}









