{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%} ">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">

    <meta charset="UTF-8">
    <script type="text/javascript" src="../static/js/echarts.js"></script>
    <script type="text/javascript" src="../static/js/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="../static/js/jquery.particleground.min.js"></script>
    <script type="text/javascript" src="../static/js/demo.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>

    <title>Metabolomics Tool</title>
</head>
<body style="font-family: 'PT Serif', serif">


    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white navbar-static-top" id="main_page_nav">


        <a class="navbar-brand" href="#">Web based concentration calculation tool</a>

         {% if home %}

            <nav class="navbar navbar-dark">
                <a class="nav-link active" href="">Home</a>
                <a class="nav-link disabled" href="#">Upload</a>
                <a class="nav-link disabled" href="#">Visualization</a>
            </nav>
        {% endif %}

        {% if upload %}
            <nav class="navbar">
                <a class="nav-link disabled" href="">Home</a>
                <a class="nav-link active" href="#">Upload</a>
                <a class="nav-link disabled" href="#">Visualization</a>
            </nav>
        {% endif %}

        {% if visualization %}
            <nav class="navbar">
                <a class="nav-link disabled" href="">Home</a>
                <a class="nav-link disabled" href="#">Upload</a>
                <a class="nav-link active" href="#">Visualization</a>
            </nav>
        {% endif %}

    </nav>

    <div id="particles"> </div>
        <div class="intro container-fluid">
            <div class="row-fluid">
                <div class="right" style="color: #1b1e21">

                    {% if home %}
                        <h1 class="introduction_text">Introduction</h1>
                        <h2 class="introduction_text">lorem epsum</h2>
                        <div class="container">
                            <div class="row">
                                <form class="col-md-4 offset-2" name="download_sample" method="post">
                                    {% csrf_token %}
                                    <input type="text" value="download_sample" name="download_sample" style="display: none">
                                    <input type="submit" id="download_sample" value="download sample file" class="btn btn-outline-danger">
                                </form>

                                <form class="col-md-4" name="upload_your_own_file" method="post">
                                    {% csrf_token %}
                                    <input type="text" value="upload_your_own_file" name="upload_your_own_file" style="display: none">
                                    <input type="submit" id="upload_your_own_file" value="upload your own file" class="btn btn-outline-danger">
                                </form>
                            </div>
                        </div>
                    {% endif %}

                    {% if upload %}
                         <h1 class="introduction_text">Text</h1>
                         <h2 class="introduction_text">lorem epsum</h2>

                         <form name="try" method="post">
                            {% csrf_token %}
                            <input type="text" value="try" name="try" style="display: none">
                            <input type="submit" value="try" class="btn btn-outline-danger">
                         </form>

                        <h1 class="introduction_text"><br /> OR <br /></h1>

                        <h1 class="introduction_text">Upload your own file</h1>

                        <div class="form-group">

                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="container">
                                    <div class="row">
                                        <p class="col-md-4 offset-4">
                                            <label for="id_upload_form" class="custom-file-label">
                                                <input type="file" name="upload_form" class="custom-file-input" required id="id_upload_form" onchange="$(this).next().after().text($(this).val().split('\\').slice(-1)[0])"/>
                                                {% if typeError %}
                                                    <span class="custom-file-control" style="border: 1px solid red;"></span>
                                                {% else %}
                                                    <span class="custom-file-control"></span>
                                                {% endif %}
                                            </label>
                                        </p>
                                    </div>
                                    {% if typeError %}
                                        <p style="color: red; margin-top: 0; font-size: .875rem;"> {{ errorMsg }}</p>
                                    {% endif %}
                                    <input type="submit" class="btn btn-outline-success" value="upload">
                                </div>
                            </form>

                         </div>
                    {% endif %}

                    {% if visualization %}

                        <div id="myModal" class="modal">

                          <div class="modal-content">
                            <span class="close">&times;</span>
                            <form>
                                <div class="form-group">
                                    <label for="IS_nor">do you need IS Normalisation?</label>
                                    <select id="IS_nor" class="custom-select">
                                        <option selected value="yes">yes</option>
                                        <option value="no">no</option>
                                    </select>
                                    <label id="IS_notification" style="display: none; color: red; font-size: .875rem" for="IS_nor" >you haven't select any IS method yet</label>
                                </div>

                                <div class="form-group">
                                    <label for="rea">do you need Reagent Blank Subtraction?</label>
                                    <select id="rea" class="custom-select">
                                        <option selected value="yes">yes</option>
                                        <option value="no">no</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="NF">do you need normalising factors?</label>
                                    <select id="NF" class="custom-select">
                                        <option selected value="yes">yes</option>
                                        <option value="no">no</option>
                                    </select>
                                </div>

                              <div class="form-group row">
                                  <label for="dilution" class="offset-5 col-form-label">Dilution Factor </label>
                                  <div class="col-sm-2">
                                    <input type="text" class="form-control" id="dilution" placeholder="10" onkeyup="value=value.replace(/[^\d]/g,'')">
                                  </div>
                              </div>

                              <div class="form-group">
                                  <input type="button" id="show_result" value="show result" class="btn btn-outline-danger">
                              </div>
                            </form>
                          </div>

                        </div>

                        <div class="container" style="margin-left: 0; margin-right: 0">
                            <div class="row">

                                <div class="col-2">
                                    <div class="row col-2">
                                        <table id="dataY" class="row-border" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>Metabolites</th>
                                                </tr>
                                            </thead>

                                            <tbody id="metabolo">

                                            </tbody>
                                        </table>

                                        <!--<input type="button" id="show_result" value="show result" class="btn btn-outline-danger">-->

                                        <input type="button" id="confirm" value="confirm" class="btn btn-outline-danger">
                                    </div>
                                </div>

                                <div id="control_panel" class="col-2">

                                        <table id="IS_select" class="row-border" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>Internal Standards</th>
                                                </tr>
                                            </thead>

                                            <tbody id="IS_method">
                                                <tr id="no_method" class="selected">
                                                    <td>None</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <input type="button" id="assign" value="assign" class="btn btn-outline-success">
                                        <input type="button" id="assign_all" value="assign all" class="btn btn-outline-warning" style="margin-top: 20px">
                                        <input type="button" id="cancel_all" value="cancel all" class="btn btn-outline-danger" style="margin-top: 20px">

                                </div>

                                <div class="col-1">
                                        <label for="regression_method">Type</label>
                                        <select id="regression_method" class="custom-select-sm">
                                              <option value="linear">linear</option>
                                              <option value="quad">quad</option>
                                        </select>

                                        <label for="regression_origin" style="margin-top: 20px">Origin</label>
                                        <select id="regression_origin" class="custom-select-sm">
                                                <option value="default">default</option>
                                                <option value="forced">forced</option>
                                        </select>
                                        <label for="regression_weight" style="margin-top: 20px">Weight</label>
                                        <select id="regression_weight" class="custom-select-sm">
                                            <option value="none">none</option>
                                            <option value="1/x">1/x</option>
                                            <option value="1/x^2">1/x^2</option>
                                            <option value="1/y">1/y</option>
                                            <option value="1/y^2">1/y^2</option>
                                        </select>

                                        <div class="checkbox">
                                          <label>
                                            <input type="checkbox" id="Reagent_Blank_Subtraction" style="margin-top: 40px">
                                            <span class="checkbox-icon-wrapper">
                                              <span class="checkbox-icon glyphicon glyphicon-ok"></span>
                                            </span>
                                            RBS
                                          </label>
                                        </div>

                                    <button type="button" id="confirm_regression" class="btn btn-outline-danger">confirm<br>regression</button>
                                </div>

                                <div class="col-7" id="chart_wrapper">
                                    <div id="chart"></div>
                                    <div>
                                        <table id="main_table" class="row-border" width="100%"></table>
                                    </div>

                                </div>


                        </div>
                    {% endif %}
                </div>
                </div>
            </div>
        </div>


    <nav class="navbar fixed-bottom navbar-light bg-white bg-trans">
        <a class="navbar-brand" href="#">Contact: Dr. Saravanan Dayalan, sdayalan@unimelb.edu.au</a>
    </nav>


    <script type="text/javascript">
        var myChart = echarts.init(document.getElementById('chart'), '', {devicePixelRatio: 2});
        var selected = {};
        var checkboxes = {};
        var two_dimen_data = [];
        var option;
        var data; //copied originData
        var offset;
        var all_metabolo = [];
        var regression_options = {};
        var table;
        var IS_select = {};
        var IS_select_table;
        var modal = document.getElementById('myModal');
        var btn = document.getElementById("confirm");
        var span = document.querySelector('.close');
        var IS_notification = document.getElementById('IS_notification');

        btn.onclick = function() {
            modal.style.display = "block";
            var emp = empty_IS(IS_select);
            if (emp) {
                IS_notification.style.display = "block";
            }
            else {
                IS_notification.style.display = "none";
            }
        };

        span.onclick = function() {
            modal.style.display = "none";
        };

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        };

        myChart.on('click', function(para) {
            /*
            once the point in the chart is clicked, update the dictionary that store the selected points
            and redraw the chart.
             */

            var origin_index = para.dataIndex;
            if (!selected.hasOwnProperty(origin_index + ',' + get_selected_metabolo())) {
                selected[origin_index + ',' + get_selected_metabolo()] = true;
            }
            else {
                selected[origin_index + ',' + get_selected_metabolo()] = !selected[origin_index + ',' + get_selected_metabolo()];
            }
            option = get_option(two_dimen_data, selected, get_selected_metabolo());
            myChart.setOption(option);

            var user_options = {
                'IS_method': JSON.stringify(IS_select),
                //'need_IS': $('#IS_nor').val(),
                'need_IS': 'yes',
                //'need_rea': $('#rea').val(),
                'need_rea': 'yes',
                'regression_option': JSON.stringify(regression_options),
                'dilution_factor': '10',
                'nf': 'yes'
            };
            //var nor = $('#IS_Normalisation').prop("checked");
            $.ajax({
                type: 'POST',
                async: true,
                traditional: true,
                url: '../show_result/',
                dataType: 'json',
                data: {'selected': JSON.stringify(selected),
                        'input_json_pk': {{ input_json_pk }},
                        'offset': offset.toString(),
                        //'is_nor': nor.toString(),
                        'user_options': JSON.stringify(user_options),
                        //'is_nor': 'true',
                        'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success: function(result) {
                    fill_main_table(result);
                    $('#table').DataTable().destroy();
                },
                error: function() {alert('can not show result!!!');}
            })
        });

        $('#IS_Normalisation').on('click', function() {

            var checkboxes = update_checkboxes();
            var new_data = originData_to_checkboxData(data, checkboxes);
            var dataY = get_selected_metabolo();
            draw_chart(new_data, 'Concentration', dataY);
        });

        $('#Reagent_Blank_Subtraction').on('click', function() {
            //checkboxes = update_checkboxes();
            //var new_data = originData_to_checkboxData(data, checkboxes);
            var dataY = get_selected_metabolo();
            draw_chart(data, 'Concentration', dataY);
        });

        $('#show_result').on('click', function() {
            var IS_nor;
            var rea;
            var dilution_factor;
            if ($('#IS_nor').val() == 'yes') {IS_nor = IS_select;}
            else {IS_nor = {};}

            if ($('#rea').val() == 'yes') {rea = 'true';}
            else {rea = false;}
            //var tmp = $('#dilution').value;

            var tmp = $('#dilution').val();

            if ($('#dilution').val() == "") {dilution_factor = '10';}
            else {dilution_factor = $('#dilution').val();}

            var user_options = {
                'IS_method': JSON.stringify(IS_select),
                'need_IS': $('#IS_nor').val(),
                'need_rea': $('#rea').val(),
                'regression_option': JSON.stringify(regression_options),
                'dilution_factor': dilution_factor,
                'nf': $('#NF').val()
            };

            $.ajax({
                type: 'POST',
                async: true,
                traditional: true,
                url: '../show_result/',
                dataType: 'json',
                data: {'selected': JSON.stringify(selected),
                        'input_json_pk': {{ input_json_pk }},
                        'offset': offset.toString(),
                        //'is_nor': nor.toString(),
                        //'is_nor': 'true',
                        'user_options': JSON.stringify(user_options),
                        'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success: function(result) {
                    window.sessionStorage.setItem("result_data", JSON.stringify(result));
                    window.sessionStorage.setItem('selected', JSON.stringify(selected));
                    window.sessionStorage.setItem('input_json_pk', {{ input_json_pk }});
                    window.sessionStorage.setItem('offset', offset.toString());
                    window.location.href = './result_page/';
                },
                error: function() {alert('can not show result!!!')}
            })

        });

        $('#dataY tbody').on('click', 'tr', function() {
            two_dimen_data = [];
            var dataX = 'Concentration';
            table.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
            var dataY = get_selected_metabolo();
            draw_chart(data, dataX, dataY);
            //var nor = $('#IS_Normalisation').prop("checked");
            if (!IS_select.hasOwnProperty(dataY) || IS_select[dataY] == 'None') {
                $('#no_method').click();
            }
            else {
                var tmp = '#' + IS_select[dataY];
                $(tmp).click();
            }
            var cur_metabolo = get_selected_metabolo();
            var cur_method = regression_options[get_selected_metabolo()][0];
            var cur_origin = regression_options[get_selected_metabolo()][1];
            var cur_weight = regression_options[get_selected_metabolo()][2];
            $('#regression_method').val(cur_method);
            $('#regression_origin').val(cur_origin);
            $('#regression_weight').val(cur_weight);
            //$('#regression_origin option[value="' + cur_origin + '"]').attr('selected', true);
            //$('#regression_weight option[value="' + cur_weight + '"]').attr('selected', true);


            option = get_option(two_dimen_data, selected, get_selected_metabolo());
            myChart.setOption(option);
            update_main_table();

        });

        $('#IS_select tbody').on('click', 'tr', function() {
            IS_select_table.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
            var dataY = get_selected_metabolo();
            draw_chart(data, 'Concentration', dataY);

        });

        $('#regression_method').on('change', function() {
           option = get_option(two_dimen_data, selected, get_selected_metabolo());
           myChart.setOption(option);
           //regression_options[get_selected_metabolo()][0] = $(this).val();
        });

        $('#regression_origin').on('change', function() {
            option = get_option(two_dimen_data, selected, get_selected_metabolo());
            myChart.setOption(option);
            //regression_options[get_selected_metabolo()][1] = $(this).val();
        });

        $('#regression_weight').on('change', function() {
            option = get_option(two_dimen_data, selected, get_selected_metabolo());
            myChart.setOption(option);
            //regression_options[get_selected_metabolo()][2] = $(this).val();
        });

        $('#assign').on('click', function() {
           var selected_metabolite = get_selected_metabolo();
           var selected_IS_method = get_selected_IS_method();
           IS_select[selected_metabolite] = selected_IS_method;
           alert('assign ' + get_selected_metabolo() + ' to ' + get_selected_IS_method());

        });

        $('#assign_all').on('click', function() {
            IS_select = {};
            var selected_IS_method = get_selected_IS_method();
            for (var i = 0; i < all_metabolo.length; i++) {
                IS_select[all_metabolo[i]] = selected_IS_method;
            }
            alert('assign all metabolites to ' + get_selected_IS_method());
        });

        $('#cancel_all').on('click', function() {
           IS_select = {};
           for (var i = 0; i < all_metabolo.length; i++) {
                IS_select[all_metabolo[i]] = 'None';
            }
           alert('cancel all internal standard');
        });

        $('#confirm_regression').on('click', function() {
            var method = $('#regression_method').val();
            var origin = $('#regression_origin').val();
            var weight = $('#regression_weight').val();
            regression_options[get_selected_metabolo()] = [method, origin, weight];
            alert('confirmed regression options to ' + get_selected_metabolo());
        });

        $(function () {
            if ('{{ try }}' == 'False'){
                $.ajax({
                type: 'GET',
                async: true,
                url: '../show_graph',
                dataType: 'json',
                data: {
                    'input_json_pk': {{ input_json_pk }}
                },
                success: function(originData) {
                    data = originData;
                    fill_in_table(originData);
                    fill_IS_select_table(originData);
                    for (var i = 0; i < all_metabolo.length; i++) {
                        IS_select[all_metabolo[i]] = 'None';
                    }
                    for (var i = 0; i < all_metabolo.length; i++) {
                        regression_options[all_metabolo[i]] = ['linear', 'default', 'none']
                    }

                    table = $('#dataY').DataTable({"scrollY": "300px",
                                            "scrollCollapse": true,
                                            "paging": false,
                                            "searching": false,
                                            "info": false,
                                            "select": true});

                    IS_select_table = $('#IS_select').DataTable({"scrollY": "300px",
                                            "scrollCollapse": true,
                                            "paging": false,
                                            "searching": false,
                                            "info": false,
                                            "order": [],
                                            "select": true});

                    $('#dataY tbody tr:eq(0)').click();
                    $('#IS_select tbody tr:eq(0)').click();
                    },
                    error: function() {
                        alert('error!')
                    }
                    })
            }
            else {
                $.ajax({
                   type: 'POST',
                   async: true,
                   url: '../show_try_graph',
                   dataType: 'json',
                   data: {"try": 'true',
                       'csrfmiddlewaretoken': '{{ csrf_token }}'},
                   success: function(originData) {
                      data = originData;
                      fill_in_table(originData);
                      fill_IS_select_table(originData);
                      for (var i = 0; i < all_metabolo.length; i++) {
                        IS_select[all_metabolo[i]] = 'None';
                        }
                       for (var i = 0; i < all_metabolo.length; i++) {
                        regression_options[all_metabolo[i]] = ['linear', 'default', 'none']
                        }
                      table = $('#dataY').DataTable({"scrollY": "300px",
                                            "scrollCollapse": true,
                                            "paging": false,
                                            "searching": false,
                                            "info": false,
                                            "select": true});

                      IS_select_table = $('#IS_select').DataTable({"scrollY": "300px",
                                            "scrollCollapse": true,
                                            "paging": false,
                                            "searching": false,
                                            "info": false,
                                            "order": [],
                                            "select": true});
                      $('#dataY tbody tr:eq(0)').click();
                      $('#IS_select tbody tr:eq(0)').click();
                   },
                    error: function() {
                        alert('error!')
                    }
                })
            }
            });

        function get_length(obj) {
            var size = 0;
            for (key in obj) {
                if (obj.hasOwnProperty(key)) {
                    size ++;
                }
            }
            return size;
        }

        function contains(arr, obj) {
            for (var i = 0; i < arr.length; i++) {
                if ((obj[0] == arr[i][0]) && (obj[1] == arr[i][1])) {return true;}
            }
            return false;
        }

        function get_regression_points(two_dimen_data, selected, dataY) {
            var keep = [];
            var ignored = [];
            var res = [];
            for (var i = 0; i < get_length(two_dimen_data); i++) {
                if (!selected.hasOwnProperty(i.toString() + ',' + dataY) || !selected[i.toString() + ',' + dataY]) {
                    keep.push(two_dimen_data[i]);
                }
                else {
                    ignored.push(two_dimen_data[i]);
                }
            }

            for (var j = 0; j < keep.length; j++) {
                if (!contains(ignored, keep[j])) {
                    res.push(keep[j]);
                }
            }
            return res;
        }

        function get_option(two_dimen_data, selected, dataY) {
            var option = {};
            $.ajax({
                type: 'POST',
                async: false,
                traditional: true,
                url: '../weighted_regression/',
                dataType: 'json',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'points':  JSON.stringify(get_regression_points(two_dimen_data, selected, get_selected_metabolo())),
                    'weight': $('#regression_weight').val(),
                    'regression_method': $('#regression_method').val()
                },
                success: function(result) {
                    var points = result['points'];
                    var predicted_points = result['predicted_points'];
                    var expression = result['expression'];
                    var equation = result['equation'];
                    option = {
                        backgroundColor: 'rgba(255,255,255,0.8)',
                        title: {
                            text: get_chart_title(points, predicted_points, expression, equation),
                            right: 'right',
                            textStyle: {
                                fontStyle: 'italic',
                                fontSize: 14
                            }
                        },
                        xAxis: {
                            name: 'Concentration',
                            type: 'value',
                            boundaryGap: false,
                            min: 0,
                            interval: 5
                        },
                        yAxis: {
                            name: get_selected_metabolo(),
                            type: 'value'
                        },

                        grid: {
                            left: '5%',
                            right: '15%',
                            containLabel: true

                        },

                        dataZoom: {
                            show: true,
                            realtime: true,
                            height: 20
                        },

                        series: [{
                            name: get_selected_metabolo(),
                            type: 'scatter',
                            data: two_dimen_data,
                            itemStyle: {
                                normal: {
                                    color: function(para) {
                                        //var para = para;
                                        if (selected[para.dataIndex + ',' + dataY]) {return '#eac736';}
                                        else {return '#d94e5d';}
                                    }
                                }
                            }

                            },
                           {
                            name: 'line',
                            type: 'line',
                            smooth: true,
                            showSymbol: false,
                            data: get_forced_points(predicted_points, equation),

                            markPoint: {
                                itemStyle: {
                                    normal: {
                                        color: 'transparent'
                                    }
                                },
                                label: {
                                    normal: {
                                        show: false,
                                        position: 'left',
                                        formatter: expression,
                                        textStyle: {
                                            color: '#333',
                                            fontSize: 14
                                        }
                                    }
                                },
                                data: [{
                                    coord: points[points.length - 1]
                                }]
                            }

                        }

                        ],

                        tooltip: {
                            trigger: 'item',
                            triggerOn: 'mousemove',
                            formatter: function (para) {
                                return option.xAxis.name + '  :  ' + para.data[0] + '<br/>'
                                     + option.yAxis.name + '  :  ' + para.data[1] + '<br/>';
                            }
                            }
                        };
                }
            });
            return option;
        }

        function draw_chart(originData, dataX, dataY) {
            myChart.showLoading();
            var data_copy = jQuery.extend(true, {}, originData);
            checkboxes = update_checkboxes();
            data_copy = originData_to_checkboxData(data_copy, checkboxes);
            var hData = data_copy[dataX];
            var vData = data_copy[dataY];

            var row_num = 0;
            two_dimen_data = [];
            for (var i = 0; i < get_length(data_copy[dataX]); i++) {
                if (originData['Group'][i] == 'S') {
                        two_dimen_data.push([hData[i], vData[i]]);
                }
            }
            for (var j = 0; j < get_length(data_copy[dataX]); j++) {
                    if (originData['Group'][j] == 'S') {
                        offset = row_num;
                        break;
                    }
                    row_num += 1;
            }
            option = get_option(two_dimen_data, selected, dataY);
            myChart.hideLoading();
            myChart.setOption(option);
        }

        function update_checkboxes() {
            var none;
            var both;
            //var nor = $('#IS_Normalisation').prop("checked");
            var nor;
            if (get_selected_IS_method() == 'None') {nor = false;}
            else {nor = true;}
            var rea = $('#Reagent_Blank_Subtraction').prop("checked");
            if (nor && rea) {both = true;}
            if (!nor && !rea) {none = true;}
            if ((nor && !rea) || (!nor && rea)) {both = false; none = false;}
            var checkboxes = {'none': none,
                          'nor': nor,
                          'rea': rea,
                          'both': both};
            return checkboxes;
        }

        function originData_to_is_nor(originData, method) {
            var data_copy = jQuery.extend(true, {}, originData);
            if (method == 'None') {return data_copy;}
            var IS_data = data_copy[method];
            for (var i = 0; i < IS_data.length; i++) {
                if (data_copy['Group'][i] == 'S'){
                    data_copy[get_selected_metabolo()][i] /= IS_data[i];
                }
            }
            return data_copy;
        }

        function originData_to_rea(originData) {
            var data_copy = jQuery.extend(true, {}, originData);
            var sum = 0;
            var count = 0;
            for (var i = 0; i < data_copy[get_selected_metabolo()].length; i++) {
                if (data_copy['Group'][i] == 'R') {
                    sum += data_copy[get_selected_metabolo()][i];
                    count += 1;
                }
            }
            var ave = sum / count;
            for (var j = 0; j < data_copy[get_selected_metabolo()].length; j++) {
                if (data_copy['Group'][j] == 'S') {
                    data_copy[get_selected_metabolo()][j] -= ave;
                }
            }
            return data_copy;
        }

        function originData_to_both(originData) {
            var data_copy = jQuery.extend(true, {}, originData);
            var tmp = originData_to_rea(data_copy);
            return originData_to_is_nor(tmp, get_selected_IS_method());
        }

        function originData_to_checkboxData(originData, checkboxes) {
            if (checkboxes['none']) {
                return originData;
            }
            else if (checkboxes['both']) {
                return originData_to_both(originData);
            }
            else if (checkboxes['nor']) {
                return originData_to_is_nor(originData, get_selected_IS_method());
            }
            else if (checkboxes['rea']) {
                return originData_to_rea(originData);
            }
            else {
                return originData;
            }
        }

        function fill_in_table(originData) {
            for (var each in originData) {
                if (each != 'id' &&
                    each != 'IS' &&
                    each != 'Concentration' &&
                    each != 'Group' &&
                    !start_with(each, 'IS') &&
                    !start_with(each, 'std') &&
                    !start_with(each, 'NF')) {

                    all_metabolo.push(each);
                    regression_options[each] = ['linear', 'default', 'none'];
                    $('#metabolo').append("<tr id=" + each + "></tr>");
                    var eachid = '#' + escapeJquery(each);
                    //$(eachid).attr("style", "background-color: rgba(255,255,255,0.8)");
                    $(eachid).append("<td>" + each + "</td>");
                }
            }
        }

        function get_selected_metabolo() {
            return table.rows('.selected').data()[0][0];
        }

        function get_selected_IS_method() {
            //var res = IS_select_table.rows('.selected');
            return IS_select_table.rows('.selected').data()[0][0];
        }

        function get_forced_points(regression_points, expression) {
            var res = [];
            var exp;
            if ($('#regression_origin').val() == 'default') {
                return regression_points;
            }
            if ($('#regression_method').val() == 'linear') {
                exp = [0, expression[1]];
            }
            if ($('#regression_method').val() == 'quad') {
                exp = [expression[2], expression[1]];
            }
            for (var i = 0; i < regression_points.length; i++) {
                res.push([regression_points[i][0], exp[0]*Math.pow(regression_points[i][0],2)+exp[1]*regression_points[i][0]]);
            }
            return res;
        }

        function cal_forced_R2(origin_points, forced_points) {
            var top = 0;
            var buttom = 0;
            var total = 0;
            for (var i = 0; i < origin_points.length; i++) {
                total += origin_points[i][1];
            }
            ave = total / origin_points.length;
            for (var j = 0; j < origin_points.length; j++) {
                top += Math.pow(forced_points[j][1] - origin_points[j][1], 2);
                buttom += Math.pow(origin_points[j][1] - ave, 2);
            }
            return (1 - (top / buttom)).toFixed(2);
        }

        function get_chart_title(points, predict_points, expression, equation) {
            if ($('#regression_origin').val() == 'default') {
                return 'R2: ' + cal_forced_R2(points, predict_points).toString() + '\n' + expression

            }
            if ($('#regression_origin').val() == 'forced') {
                var forced_points = get_forced_points(predict_points, equation);
                return 'R2: ' +  cal_forced_R2(points, forced_points).toString() + '\n' + get_forced_expression(expression);
            }
        }

        function fill_main_table(resultData) {
            var cur_csv = resultData['Con'];
            var id = [];
            var concentration = [];
            var resp = [];
            var acc = [];
            var data_set = [];
            for (var i = 0; i < cur_csv['Concentration'].length; i++) {
                if (cur_csv['Group'][i] == 'S') {
                    id.push(cur_csv['id'][i]);
                    concentration.push(cur_csv['Concentration'][i]);
                    resp.push(cur_csv[get_selected_metabolo()][i].toFixed(2));
                }
            }

            for (var j = 0; j < id.length; j++) {
                acc.push((100 * (resp[j] / concentration[j])).toFixed(2).toString() + '%');
            }
            for (var k = 0; k < id.length; k++) {
                var tmp = [];
                tmp.push(id[k]);
                tmp.push(concentration[k]);
                tmp.push(resp[k]);
                tmp.push(acc[k]);
                data_set.push(tmp);
            }
            $('#main_table').DataTable({
                data: data_set,
                columns: [
                    { title: "ID" },
                    { title: "Concentration" },
                    { title: "Calculated Concentration" },
                    { title: "Accuracy" }
                ],
                destroy: true,
                ordering: false,
                searching: false,
                paging: false,
                info: false,
                scrollY: "300px",
                scrollCollapse: true
            })
        }

        function get_forced_expression(expression) {
            var tmp = expression.split('+');
            tmp.pop();
            return tmp.join('+');
        }

        function start_with(input_string, search_string) {
            var index = input_string.indexOf(search_string);
            if (index == 0) {
                return true;
            }
            else {
                return false;
            }
        }

        function fill_IS_select_table(originData) {
            var count = 0;
            for (var each in originData) {
                if (start_with(each, 'IS')) {
                    //IS_select[each] = originData[each];

                    $('#IS_method').append("<tr id=" + each + "></tr>");
                    var eachid = '#' + each;
                    //$(eachid).attr("style", "background-color: rgba(255,255,255,0.8)");
                    $(eachid).append("<td>" + each + "</td>");
                    count += 1;
                }
            }
        }

        function update_main_table() {
            var need_IS = $('#IS_nor').val();
            var need_rea = $('#rea').val();
            var dilution_factor = $('#dilution').val();
            if (dilution_factor == "") {dilution_factor = '10';}


             var user_options = {
                'IS_method': JSON.stringify(IS_select),
                //'need_IS': $('#IS_nor').val(),
                'need_IS': need_IS,
                //'need_rea': $('#rea').val(),
                'need_rea': need_rea,
                'regression_option': JSON.stringify(regression_options),
                'dilution_factor': dilution_factor,
                'nf': 'yes'
            };
            $.ajax({
                type: 'POST',
                async: true,
                traditional: true,
                url: '../show_result/',
                dataType: 'json',
                data: {'selected': JSON.stringify(selected),
                        'input_json_pk': {{ input_json_pk }},
                        'offset': offset.toString(),
                        'user_options': JSON.stringify(user_options),
                        //'is_nor': nor.toString(),
                        //'is_nor': 'true',
                        'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success: function(result) {
                    $('#table').DataTable().destroy();
                    fill_main_table(result);
                },
                error: function() {alert('can not show result!!!')}
            })
        }


        function empty_IS(IS_select) {
            if (IS_select == {}) {
                return true;
            }
            else {
                for (var each in IS_select) {
                    if (IS_select[each] != 'None') {return false;}
                }
            }
            return true;
        }


        function escapeJquery(srcString) {
            var escapseResult = srcString;
            var jsSpecialChars = ["\\", "^", "$", "*", "?", ".", "+", "(", ")", "[",
                    "]", "|", "{", "}"];
            var jquerySpecialChars = ["~", "`", "@", "#", "%", "&", "=", "'", "\"",
                    ":", ";", "<", ">", ",", "/"];
            for (var i = 0; i < jsSpecialChars.length; i++) {
                escapseResult = escapseResult.replace(new RegExp("\\"
                    + jsSpecialChars[i], "g"), "\\"
                    + jsSpecialChars[i]);
            }
            for (var i = 0; i < jquerySpecialChars.length; i++) {
                escapseResult = escapseResult.replace(new RegExp(jquerySpecialChars[i],
                    "g"), "\\" + jquerySpecialChars[i]);
            }
            return escapseResult;
        }
    </script>

</body>
</html>