{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%} ">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main_page.css' %}">
    <meta charset="UTF-8">
    <script type="text/javascript" src="../static/js/echarts.js"></script>
    <script type="text/javascript" src="../static/js/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="../static/js/ecStat.js"></script>
    <script type="text/javascript" src="../static/js/regression.js"></script>
    <title>Title</title>
</head>
<body>


    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light navbar-static-top" id="main_page_nav">
        <img src="{% static 'img/main_icon.png'%}">

        <a>Web based concentration calculation tool</a>

    </nav>


    <div class="container-fluid">
        <div class="row-fluid">
            <div class="left">
      <!--边栏内容-->
                <div class="form-group">
                    <!--<span class="h3">upload file</span>-->
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <p>
                        <label for="id_upload_form"></label>
                        <input type="file" name="upload_form" required id="id_upload_form" />
                        </p>
                        <input type="submit" class="btn btn-success pull-right" value="upload">

                    </form>
                    {% if typeError %}
                            <p> invalid file !</p>
                        {% endif %}

                </div>

                <form name="download_sample" method="post">
                    {% csrf_token %}
                    <input type="text" value="download_sample" name="download_sample" style="display: none">
                    <input type="submit" id="download_sample" value="download sample file" class="btn btn-warning">
                </form>
                {% if show_result %}
                    <input type="button" id="show_result" value="show result" class="btn btn-danger">

                {% endif %}


            </div>
            <div class="right" style="color: #1b1e21">

                {% if not graph %}
                    <h1 class="introduction_text">Introduction</h1>
                    <h2 class="introduction_text">lorem epsum</h2>
                     <form name="try" method="post">
                    {% csrf_token %}
                    <input type="text" value="try" name="try" style="display: none">
                    <input type="submit" value="try it out !" class="btn btn-warning">
                {% endif %}

                {% if graph %}


                    <div class="container">
                        <div class="row">
                            <div class="col-md-2">
                                <select id="dataY" class="custom-select">
                                    <!--<option value="Concentration">Concentration</option>
                                    <option value="IS">IS</option>
                                    <option value="Acetate">Acetate</option>
                                    <option value="Propionate">Propionate</option>
                                    <option value="Isobutyrate">Isobutyrate</option>
                                    <option value="Butyrate">Bytyrate</option>-->
                                </select>
                            </div>
                        </div>

                        <div class="form-group col-md-2">
                            <input type="checkbox" class="filled-in" value="" id="None" checked="checked">
                            <label for="None">None</label>
                        </div>

                        <div class="form-group col-md-2">
                            <input type="checkbox" class="filled-in" value="" id="IS_Normalisation">
                            <label for="IS_Normalisation">IS Normalisation</label>
                        </div>

                        <div class="form-group col-md-2">
                            <input type="checkbox" class="filled-in" value="" id="Reagent_Blank_Subtraction">
                            <label for="Reagent_Blank_Subtraction">Reagent Blank Subtraction</label>
                        </div>

                        <div class="form-group col-md-2">
                            <input type="checkbox" class="filled-in" value="" id="Both">
                            <label for="Both">Both</label>
                        </div>

                    <div id="chart" style="width: 800px; height: 400px; margin-left: 180px; margin-top: -320px"></div>
                    </div>

                    <script type="text/javascript">

                        var myChart = echarts.init(document.getElementById('chart'), '', {devicePixelRatio: 2});
                        var selected = {};
                        var checkboxes = {};
                        var two_dimen_data = [];
                        var option;
                        var data; //copied originData
                        var offset;
                        myChart.on('click', function(para) {
                            var origin_index = para.dataIndex;
                            if (!selected.hasOwnProperty(origin_index + ',' + para.seriesName)) {
                                selected[origin_index + ',' + para.seriesName] = true;
                            }
                            else {
                                selected[origin_index + ',' + para.seriesName] = !selected[origin_index + ',' + para.seriesName];
                            }
                            option = get_option(two_dimen_data, selected, para.seriesName);
                            myChart.setOption(option);
                        });

                        $('#None').on('click', function() {
                            if ($(this).is(':checked')) {
                                if ($('#IS_Normalisation').is(':checked')) {
                                    $('#IS_Normalisation').prop("checked", false);
                                }

                                if ($('#Reagent_Blank_Subtraction').is(':checked')) {
                                    $('#Reagent_Blank_Subtraction').prop("checked", false);
                                }

                                if ($('#Both').is(':checked')) {
                                    $('#Both').prop("checked", false);
                                }
                            }
                            checkboxes = update_checkboxes();
                            var new_data = originData_to_checkboxData(data, checkboxes);
                            var dataY = $('#dataY').val();
                            draw_chart(new_data, 'Concentration', dataY);

                        });

                        $('#IS_Normalisation').on('click', function() {
                            if ($(this).is(':checked')) {
                                $('#None').prop("checked", false);

                                if ($('#Reagent_Blank_Subtraction').is(':checked')) {
                                    $('#Both').prop("checked", true);
                                }
                            }
                            else {
                                $('#Both').prop("checked", false);
                            }
                            checkboxes = update_checkboxes();
                            var new_data = originData_to_checkboxData(data, checkboxes);
                            var dataY = $('#dataY').val();
                            draw_chart(new_data, 'Concentration', dataY);
                        });

                        $('#Reagent_Blank_Subtraction').on('click', function() {
                            if ($(this).is(':checked')) {
                                $('#None').prop("checked", false);


                                if ($('#IS_Normalisation').is(':checked')) {
                                    $('#Both').prop("checked", true);
                                }
                            }
                            else {
                                $('#Both').prop("checked", false);
                            }
                            checkboxes = update_checkboxes();
                            var new_data = originData_to_checkboxData(data, checkboxes);
                            var dataY = $('#dataY').val();
                            draw_chart(new_data, 'Concentration', dataY);

                        });

                        $('#Both').on('click', function() {
                            if ($(this).is(':checked')) {
                                $('#IS_Normalisation').prop("checked", true);
                                $('#Reagent_Blank_Subtraction').prop("checked", true);
                            }

                            if (! $(this).is(':checked')) {
                                $('#IS_Normalisation').prop("checked", false);
                                $('#Reagent_Blank_Subtraction').prop("checked", false);
                            }
                            checkboxes = update_checkboxes();
                            var new_data = originData_to_checkboxData(data, checkboxes);
                            var dataY = $('#dataY').val();
                            draw_chart(new_data, 'Concentration', dataY);
                        });

                        $('#show_result').on('click', function() {
                            console.log(selected);
                            $.ajax({
                                type: 'POST',
                                async: true,
                                traditional: true,
                                url: '../show_result/',
                                dataType: 'json',
                                data: {'selected': JSON.stringify(selected),
                                        'input_json_pk': {{ input_json_pk }},
                                        'offset': offset.toString(),
                                        'csrfmiddlewaretoken': '{{ csrf_token }}'},
                                success: function(result) {
                                    window.sessionStorage.setItem("result_data", JSON.stringify(result));
                                    window.sessionStorage.setItem('selected', JSON.stringify(selected));
                                    window.sessionStorage.setItem('input_json_pk', {{ input_json_pk }});
                                    window.location.href = './result_page/';


                                },
                                error: function() {alert('can not show result!!!')}
                            })
                        });

                        $('#dataY').on('change', function() {
                            two_dimen_data = [];
                            var dataX = 'Concentration';
                            var dataY = $('#dataY').val();
                            draw_chart(data, dataX, dataY);
                        });

                        $(function () {
                            if ('{{ try }}' == 'False'){
                                $.ajax({
                                type: 'GET',
                                async: true,
                                url: '../show_graph',
                                dataType: 'json',
                                data: {
                                    'input_json_pk': {{ input_json_pk }}
                                },
                                success: function(originData) {
                                    data = originData;
                                    var optionTag = document.getElementById('dataY');
                                    for (var each in originData) {
                                        if (each != 'ID' && each != 'IS' && each != 'Concentration' && each != 'Group') {
                                            var option = document.createElement('option');
                                            option.setAttribute('value', each);
                                            option.setAttribute('class', 'options');
                                            option.innerHTML = each;
                                            optionTag.appendChild(option);
                                            }
                                    }
                                    var dataX = 'Concentration';
                                    var dataY = $('#dataY').val();

                                    draw_chart(originData, dataX, dataY);
                                    },
                                    error: function() {
                                        alert('error!')
                                    }
                                    })
                            }
                            else {
                                $.ajax({
                                   type: 'POST',
                                   async: true,
                                   url: '../show_try_graph',
                                   dataType: 'json',
                                   data: {"try": 'true',
                                       'csrfmiddlewaretoken': '{{ csrf_token }}'},
                                   success: function(originData) {
                                       data = originData;
                                       var optionTag = document.getElementById('dataY');
                                       for (var each in originData) {
                                        if (each != 'ID' && each != 'IS' && each != 'Concentration' && each != 'Group') {
                                            var option = document.createElement('option');
                                            option.setAttribute('value', each);
                                            option.setAttribute('class', 'options');
                                            option.innerHTML = each;
                                            optionTag.appendChild(option);
                                            }
                                        }
                                        var dataX = 'Concentration';
                                        var dataY = $('#dataY').val();

                                        draw_chart(originData, dataX, dataY);
                                        },
                                        error: function() {
                                            alert('error!')
                                        }
                                        })
                            }
                            });

                        function get_length(obj) {
                            var size = 0;
                            for (key in obj) {
                                if (obj.hasOwnProperty(key)) {
                                    size ++;
                                }
                            }
                            return size;
                        }

                        function get_regression_points(two_dimen_data, selected, dataY) {
                            var res = [];
                            for (var i = 0; i < two_dimen_data.length; i++) {
                                if (!selected.hasOwnProperty(i.toString() + ',' + dataY) || !selected[i.toString() + ',' + dataY]) {
                                    res.push(two_dimen_data[i]);
                                }
                            }
                            return res;
                        }

                        function get_option(two_dimen_data, selected, dataY) {
                            var regression_points = get_regression_points(two_dimen_data, selected, dataY);
                            var myRegression = ecStat.regression('linear', regression_points);
                            myRegression.points.sort(function(a, b) {
                                return a[0] - b[0];
                            });
                            var option = {
                            title: {
                                text: ''
                            },

                            xAxis: {
                                name: 'Concentration',
                                //type: 'category',
                                type: 'value',
                                boundaryGap: false,
                                min: 0,
                                interval: 5
                                //data: get_clear_hData(hData)


                            },
                            yAxis: {
                                name: $('#dataY').val(),
                                type: 'value'
                            },

                            dataZoom: {
                                show: true,
                                realtime: true,
                                height: 20
                            },

                            series: [{
                                name: $('#dataY').val(),
                                type: 'scatter',
                                //data: [],
                                data: two_dimen_data,
                                itemStyle: {
                                    normal: {
                                        //color: '#d94e5d'
                                        color: function(para) {
                                            //var para = para;
                                            if (selected[para.dataIndex + ',' + dataY]) {return '#eac736';}
                                            else {return '#d94e5d';}
                                        }
                                    }
                                }

                                },
                               {
                                name: 'line',
                                type: 'line',
                                showSymbol: false,
                                data: myRegression.points,
                                markPoint: {
                                    itemStyle: {
                                        normal: {
                                            color: 'transparent'
                                        }
                                    },
                                    label: {
                                        normal: {
                                            show: false,
                                            position: 'left',
                                            formatter: myRegression.expression,
                                            textStyle: {
                                                color: '#333',
                                                fontSize: 14
                                            }
                                        }
                                    },
                                    data: [{
                                        coord: myRegression.points[myRegression.points.length - 1]
                                    }]
                                }

                            }


                            ],
                            tooltip: {
                                trigger: 'item',
                                triggerOn: 'mousemove',
                                //showContent: true,
                                formatter: function (para) {
                                    return option.xAxis.name + '  :  ' + para.data[0] + '<br/>'
                                         + option.yAxis.name + '  :  ' + para.data[1] + '<br/>';
                                }
                                }
                            };
                            return option;
                        }

                        function draw_chart(originData, dataX, dataY) {
                            myChart.showLoading();
                            var hData = originData[dataX];
                            var vData = originData[dataY];
                            var row_num = 0;
                            two_dimen_data = [];
                            for (var i = 0; i < get_length(originData[dataX]); i++) {
                                if (originData['Group'][i] == 'S') {
                                    two_dimen_data.push([hData[i], vData[i]]);
                                }
                            }

                            for (var j = 0; j < get_length(originData[dataX]); j++) {

                                if (originData['Group'][j] == 'S') {
                                    offset = row_num;
                                    break;
                                }
                                row_num += 1;
                            }
                            option = get_option(two_dimen_data, selected, dataY);
                            myChart.hideLoading();
                            myChart.setOption(option);
                        }

                        function update_checkboxes() {
                            var none = $('#None').prop("checked");
                            var nor = $('#IS_Normalisation').prop("checked");
                            var rea = $('#Reagent_Blank_Subtraction').prop("checked");
                            var both = $('#Both').prop("checked");
                            var checkboxes = {'none': none,
                                          'nor': nor,
                                          'rea': rea,
                                          'both': both};
                            return checkboxes;
                        }

                        function originData_to_is_nor(originData) {
                            return originData; //need to be changed
                        }

                        function originData_to_rea(originData) {
                            return originData; // need to be changed
                        }

                        function originData_to_both(originData) {
                            return originData; // need to be changed
                        }

                        function originData_to_checkboxData(originData, checkboxes) {
                            if (checkboxes['none']) {
                                return originData;
                            }
                            else if (checkboxes['both']) {
                                return originData_to_both(originData);
                            }
                            else if (checkboxes['nor']) {
                                return originData_to_is_nor(originData);
                            }
                            else if (checkboxes['rea']) {
                                return originData_to_rea(originData);
                            }
                            else {
                                return originData;
                            }
                        }

                    </script>
                {% endif %}
            </div>
        </div>
    </div>



    <nav class="navbar fixed-bottom navbar-light bg-light">
        <a class="navbar-brand" href="#">Contact: Dr. Saravanan Dayalan, sdayalan@unimelb.edu.au</a>
    </nav>



    <script type="text/javascript">
    </script>
</body>
</html>